extends ../layouts/base

block var
	-selected = 'Error'
	-pageTitle = 'Page not Found'
block content
	.container
		h1 Page not Found
		p Sorry, but the page you were trying to view does not exist.
		p It looks like this was the result of either:
		ul
			li a mistyped address
			li an out-of-date link

block footer